<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- CacheManager工厂，根据/ehcache.xml，创建CacheManager -->
    <bean id="jCacheManagerFactory" class="org.springframework.cache.jcache.JCacheManagerFactoryBean">
        <property name="cacheManagerUri" value="#{getClass().getResource('/ehcache.xml').toURI()}"/>
    </bean>

    <!-- CacheManager -->
    <bean id="cacheManager" class="org.springframework.cache.jcache.JCacheCacheManager">
        <property name="cacheManager" ref="jCacheManagerFactory"/>
    </bean>

</beans>